@model CategoryListModelView
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table>
    @foreach (var category in Model.Categories)
    {
    <tr>
        <td> @category.CategoryID</td>
        <td> @category.CategoryName</td>
        <td> @category.Description</td>
    </tr>
    }

</table>